<div class="card">
    <h4 class="card-header">Booking Form</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            
			
			 <div class="form-group">
                <label for="no_of_seats">Number Of Seats</label>
                <input type="text" formControlName="no_of_seats" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.no_of_seats.errors }" />
                <div *ngIf="submitted && f.no_of_seats.errors" class="invalid-feedback">
                    <div *ngIf="f.no_of_seats.errors.required">Number Of Seats</div>
                </div>
				
            </div>			
			
            
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Book
                </button>
                <a routerLink="/" class="btn btn-link">Cancel</a>
            </div>
			
			<div class="form-group">
			  <table border="1" >
			      <tr *ngFor='let in of counter(8) ; let i = index'>
			          <td *ngFor='let in of counter(7) ; let j = index;' >
				          <span>{{j}}</span>
			          </td>
				  </tr> 
			    </table>
			</div>
			

			
        </form>
    </div>
</div>