<div>

  <h2>Booking Form</h2>
  <form #bookingForm="ngForm" appIdentityRevealed>
    <div [hidden]="bookingForm.submitted">
      <div class="cross-validation" [class.cross-validation-error]="bookingForm.errors?.identityRevealed && (bookingForm.touched || bookingForm.dirty)">
        <div class="form-group">
          <label for="no_of_seats">No of Seat</label>
          <input type="text" id="no_of_seats" name="no_of_seats" class="form-control"
                required minlength="1"  maxlength="1" [(ngModel)]="booking.no_of_seats" #no_of_seats="ngModel">

          <div *ngIf="no_of_seats.invalid && (no_of_seats.dirty || no_of_seats.touched)"
              class="alert">

            <div *ngIf="no_of_seats.errors?.required">
                No of Seat is required.
            </div>
            <div *ngIf="no_of_seats.errors?.minlength">
                No of Seat must be at least 1 characters long.
            </div>
            
          </div>
        </div>



        <div *ngIf="bookingForm.errors?.identityRevealed && (bookingForm.touched || bookingForm.dirty)" class="cross-validation-error-message alert">
            no_of_seats cannot match alter ego.
        </div>
      </div>



      <p>Complete the form to enable the Submit button.</p>
      <button type="submit"
              [disabled]="bookingForm.invalid">Submit</button>
      <button type="button"
              (click)="bookingForm.resetForm({})">Reset</button>
    </div>

    <div class="submitted-message" *ngIf="bookingForm.submitted">
      <p>You've submitted your hero, {{ bookingForm.value.no_of_seats }}!</p>
      <button (click)="bookingForm.resetForm({})">Add new hero</button>
    </div>
  </form>
</div>
